h1, h2, h3{
  font-family: "forum","Times New Roman", sans-serif,serif;
  font-style: normal;
  font-size:64px;
  color:#272727;
}

h2{
  color: #fff;
}

h3{
  font-size: 48px;
  color: #fff;
}

.font-header{
  font-family: "Noto Sans","Times New Roman", sans-serif,serif;
  font-weight: 400;
 
  font-size:16px;
 
  color:#272727;
}
.header_ring-description>.font-header{
  color:#ffffff;
}
.font-description{
  font-family: "Noto Sans","Times New Roman", sans-serif,serif;
  font-weight: 300;
  
  font-size:14px;
  color:#757575;
}

.header_ring-description>.font-description{
  color:#C2C2C2;
}

.font-price{
  font-family: "Noto Sans","Times New Roman", sans-serif,serif;
  font-weight: 400;
  font-style: italic;
  
  font-size:14px;
  color:#EFC58B;
}

.section-1_content .font-description{
  font-size: 24px;
  color:#fff
}

.main_section-2_find-position .font-description{
  color:#fff
}